extend layout

block content
    .duyi-content
        section.duyi-student-employment
            .duyi-student-employment-title.container
                p 渡一优秀学员就业榜
                p 在去往高薪的路上  他们没有任何犹豫
                span                
                .duyi-student-employment-arrow Student Employment list
            .duyi-student-employment-content
                .duyi-student-employment-content-wrapper
                    .duyi-student-employment-content-headline
                    .duyi-student-employment-content-list.duyi-dom-translate
                        each employment in employmentList
                            ul.duyi-student-employment-ul
                                each item in employment
                                    li.duyi-student-employment-li
                                        span #{item.name}
                                        span #{item.sex}
                                        span #{item.school}
                                        span #{item.company}
                                        span #{item.salary}

        section.duyi-student-describe
            .duyi-student-story.duyi-student-describe-item
                .duyi-student-story-wrapper.duyi-dom-translate
                    .duyi-student-story-left-video
                        video.duyi-student-story-video(src="http://p6alxlphh.bkt.clouddn.com/video/video.mp4", poster="http://p6alxlphh.bkt.clouddn.com/video/poster.jpg")
                        span.duyi-student-story-left-video-icon
                        span.duyi-student-story-left-video-time 07:58
                    .duyi-student-story-right-wrapper
                        .duyi-student-story-right-icon
                            span
                        .duyi-student-story-right-font
                            p.duyi-student-story-right-font-title.duyi-dom-translate 渡一与你 风雨兼程
                            .duyi-dom-translate
                                p 每个说不想努力的人
                                p 心里都装着自以为不可能的梦想
                                p 在渡一我们将梦想照进现实
                                p 在成长的道路上 ，渡一会始终陪在你的身边
            .duyi-student-campus
                .duyi-student-campus-title.duyi-dom-translate
                    p 学习环境
                    div
                        img(src="http://p6alxlphh.bkt.clouddn.com/hand.png")
                    p Campus Enviroment
                .duyi-student-campus-content.duyi-dom-translate
                    .duyi-student-campus-scroll-wrapper
                        each campus in campusList
                            .duyi-student-campus-scroll-item
                                img(src=`${campus}`)
            .duyi-student-activity
                .duyi-student-activity-title.duyi-dom-translate
                    p 素质拓展活动
                    p Quality developing activities
                    span
                .duyi-student-activity-content.duyi-dom-translate
                    .duyi-student-activity-scroll-wrapper
                        each activity in activityList
                            .duyi-student-activity-scroll-item
                                img(src=`${activity.img}`)
                                .duyi-student-activity-scroll-item-font
                                    .duyi-student-activity-scroll-item-title #{activity.title}
                                    .duyi-student-activity-scroll-item-detail #{activity.detail}